name: Test Compilazione # Action name
on:
  push:
    branches:
      - 'main'
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Download file della Repo
        uses: actions/checkout@v5
      - name: Compilazione del file della Relazione
        uses: xu-cheng/latex-action@v4
        with: # insert here files to compile
          working_directory: Guide
          root_file: |
            Guided_Tour_For_Adults.tex
            Guided_Tour_For_Adults_Enlarged.tex
      - name: Ridenominazione files
        run: |
          mv Guide/Guided_Tour_For_Adults.pdf Guide/Guida_per_Tour_Adulti_Musei_Civici.pdf
          mv Guide/Guided_Tour_For_Adults_Enlarged.pdf Guide/Guida_per_Tour_Adulti_Musei_Civici_Ingrandita.pdf
      - name: Caricamento della Release temporanea
        uses: actions/upload-artifact@v4
        with: 
          name: Tour Bambini Musei Civici
          path: |
            Guide/Guida_per_Tour_Adulti_Musei_Civici.pdf
            Guide/Guida_per_Tour_Adulti_Musei_Civici_Ingrandita.pdf
